{% extends 'base.html' %}

{% from 'includes/_formhelpers.html' import render_field_grid %}

{% block content %}

<div>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Login</legend>
      {{ render_field_grid(form.username)}}
      {{ render_field_grid(form.password)}}
      <div class="form-check">
        {{ form.remember(class="form-check-input")}}
        {{ form.remember.label(class="form-check-label")}}
      </div>
    </fieldset>
    <div class="form-group">
      {{form.submit(class="btn btn-outline-info")}}
      <small class="text-muted ml-2">
        If you have forgotten your password you will need to contact application manager
      </small>
    </div>
  </form>
</div>
<div class="border-top pt-3">
  <small class="text-muted">
      Need An Account?
      <p>Please contact the service admin to arrange an account</p>
  </small>
</div>
{% endblock %}